<!DOCTYPE html>
<html>
  <head>
    <title>Kiranmai Elixir Test Page Live</title>
  </head>
  <body>
    <h1>Welcome to Kiranmai Elixir Test Page!</h1>
    <%= "Today is #{Date.utc_today()}" %>
    <%= render_items(@items) %>
    <button phx-click="add_item">Add Item</button>
  </body>
</html>
